.usersList {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;

  .user {
    width: 250px;
    background-color: #e0e0e0;
    padding: 20px 0;
    box-shadow: 0 0 10px 2px #e0e0e0;
    height: 100%;
    transition: 0.3s;

    &:hover {
      transform: scale(1.035);
    }

    .avatar {
      width: 120px;
      height: 120px;
      margin: 0 auto;
    }

    h3 {
      margin: 20px;
    }

    .buttons {
      width: 220px;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;


      .followBtn {
        background-color: chartreuse;
      }

      button {
        width: 100px;
        padding: 0;
      }
    }
  }
}